<footer>
    <div class="footer-social-wrap">
        <h4>Seguinos</h4>
        <ul class="social-btns" type="none">
            <li>
                <a href="#" aria-label="Book Store Facebook" target="_blank">
                    <img src="/images/FB-Icon.png" alt="" width="18px" height="18px">
                </a>
            </li>
            <li>
                <a href="#" aria-label="Book Store Twitter" target="_blank">
                    <img src="/images/TW-Icon.png" alt="" width="18px" height="18px">
                </a>
            </li>
            <li>
                <a href="#" aria-label="Book Store Pinterest" target="_blank">
                    <img src="/images/PI-Icon.png" alt="" width="18px" height="18px">
                </a>
            </li>
            <li>
                <a href="#" aria-label="Book Store Instagram" target="_blank">
                    <img src="/images/IG-Icon.png" alt="" width="18px" height="18px">
                </a>
            </li>
        </ul>
    </div>

    <div class="footer-links-content show-only-mobile">
        <div class="footer-links">
            <ul type="none">
                <li><a href="#" class="footer-sign-in-link"> Iniciar sesión/Crear cuenta</a></li>
                <li><a href="#"> Contacto</a></li>
                <li><a href="#"> Aviso Legal</a></li>
                <li><a href="#"> Política de privacidad</a></li>
                <li><a href="#"> Cookies</a></li>
                <li><a href="#"> Newsletter</a></li>
              </ul>
        </div>
    </div>
    <div class="footer-links-laptop">
        <ul type="none">          
            <li><a href="#"> Contacto</a></li>
            <li>|</li>
            <li><a href="#"> Aviso Legal</a></li>
            <li>|</li>
            <li><a href="#"> Política de privacidad</a></li>
            <li>|</li>
            <li><a href="#"> Cookies</a></li>
            <li>|</li>
            <li><a href="#"> Newsletter</a></li>     
            <li><input type="email" id="mail" name="mail" placeholder="ejemplo@email.com"></li>
            <li><input type="submit" value="Suscribirse"></li>
        </ul>
        <p class="copyright">© 2021 The Book Store</p>
    </div>
    
</footer>