<header class="main-header">   
    <div class="head-mobile show-only-mobile">
        <div class="head-mobile-first">
            <button class="burger-button"><i class="fas fa-bars" id="burgerButton"></i></button>
            <a href="/" class="logoTBSMovil"> <img class="logoTBS" src="/images/Logo-tbs.png" alt="Logo The Book Store"></a>
            <a href="/carrito-compra" class="carritoMovil"><i class="fas fa-shopping-cart carrito"></i></a>
        </div>       
    </div>
    <div class="head-laptop">
        <div class=logo-search-laptop>
            <a href="/" class="logoTBS"><img class="logoTBS" src="/images/Logo-tbs.png" alt="Logo The Book Store"></a>

            <form action="/products/search" method="GET">
                <div class="search">
                <input type="search" id="searchbar" name="search" placeholder="Buscar productos">
                <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <div class="links-header">
                      
                <ul type="none">
                    <% if(locals.logged) { %>    
                    <li><a href="/users/profile"><%= locals.loggedUser.first_name %><img class="head-user-img" src="/images/users/<%= locals.loggedUser.avatar%>"></a></li>             
                    <li><a href="/cart"><i class="fas fa-shopping-cart carrito"></i></a></li>
                    <li><a href="/users/logout">Logout</a></li>
                    <% }else{%>
                    <li><a href="/users/login" class="btn btn-outline-primary">Iniciar Sesión</a></li>
                    <li><a href="/users/register" class="btn btn-outline-primary">Registrarse</a></li>
                    <% } %>
                </ul>
                
            </div>
        </div>
        <nav class="main-navbar-laptop">            
            <ul class="mainNav"type="none">
                <li><a href="/products">Libros</a></li>                
                <li><a href="/products/ebooks">E-books</a></li>
                <li><a href="/products/offers">Ofertas</a></li>
                <!--<li><a href="#">Los más Vendidos</a></li>
                <li><a href="#">Novedades</a></li>-->                
            </ul>
        </nav>
    </div>
</header>