<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" id="closebtn">&times;</a>
    <a href="/">Inicio</a>
    <a href="/products">Libros</a>
    <a href="/products/ebooks">E-books</a>
    <a href="/products/offers">Ofertas</a>
    <a href="/users/login">Iniciar Sesión</a>
    <a href="/users/register">Registrarse</a>        
</div>