<html>
<head>
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>The Book Store</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-----------------------------Header------------------------------------------------>
<div style="height:10%;width: 100%; background-color: rgb(23, 121, 233);"></div> <!--------rellene el espacio para tener referencia de lo que ocupa el header---------->
<!-----------------------------Logo/icono------------------------------------------------>

<body class="body-carrito">
<section class="carrito">
    <article class="item-compra">
        <div class="imagen-carrito">
            <img src="/images/Libro1.jpg">
        </div>
        <div class="titulo-producto">
            <p>
                Un año con Schopenhauer
            </p>
            <p>
                $1000
            </p>
        </div>
        <div class="botones">
            <button type="submit"><i class="fas fa-plus-circle"></i></button>
            <button class="menos" type="submit"><i class="fas fa-minus-circle"></i></button>
        </div>

    </article>

    <article class="item-compra">
        <div class="imagen-carrito">
            <img src="/images/Libro1.jpg">
        </div>
        <div class="titulo-producto">
            <p>
                Un año con Schopenhauer
            </p>
            <p>
                $1000
            </p>
        </div>
        <div class="botones">
            <button type="submit"><i class="fas fa-plus-circle"></i></button>
            <button class="menos" type="submit"><i class="fas fa-minus-circle"></i></button>
        </div>

    </article>
    <article class="item-compra">
        <div class="imagen-carrito">
            <img src="/images/Libro1.jpg">
        </div>
        <div class="titulo-producto">
            <p>
                Un año con Schopenhauer
            </p>
            <p>
                $1000
            </p>
        </div>
        <div class="botones">
            <button type="submit"><i class="fas fa-plus-circle"></i></button>
            <button class="menos" type="submit"><i class="fas fa-minus-circle"></i></button>
        </div>

    </article>
</section>
<div class="total">Total : $</div>
<div class="confirmar-compra"><button type="submit">Comprar</button></div>
</body>

















<!-----------------------------Footer------------------------------------------------>
<footer>
    
    <ul class="footer">
        
        <a href="#"><li>Contacto info@thebookstore.com</li></a>
        <a href="#"><li>Aviso Legal</li></a>
        <a href="#"><li>Politica de privacidad</li></a>
        <a href="#">
        <li class="social-media">
            <a class="face" href="#"><i class="fab fa-facebook"></i></a>
            <a class="insta" href="#"><i class="fab fa-instagram"></i></a>
            <a class="twi" href="#"><i class="fab fa-twitter"></i></a>
            <a class="coment" href="#"><i class="far fa-comment"></i></a>
        </li>
        </a>
        <a href="#">
        <li>Suscribirse</li>
        </a>
        
    </ul>
  
</footer>

</html>
