<html>
<head>
    
    <title>The Book Store</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="main-header">        
        <div class="head-mobile show-only-mobile">
            <div class="head-mobile-first">
                <button class="burger-button"><i class="fas fa-bars"></i></button>
                <img class="logoTBS" width="120" height="120" src="/images/Logo-tbs.png"
                    alt="Logo The Book Store">
                <a href="/carrito-compra"><i class="fas fa-shopping-cart carrito"></i></a>
            </div>
            <div class="search">
                <input type="search" id="searchbar" name="searchbar" placeholder="Buscar productos">
                <button class="search-button"> <i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="head-laptop">
            <div class=logo-search-laptop>
                <img class="logoTBS" src="/images/Logo-tbs.png"
                    alt="Logo The Book Store">
                <div class="search">
                    <input type="search" id="searchbar" name="searchbar" placeholder="Buscar productos">
                    <button class="search-button"> <i class="fas fa-search"></i></button>
                </div>
                <div class="links-header">
                    <ul type="none">                                
                        <li><a href="#">Mis Favoritos</a></li>
                        <li><a href="#">Iniciar Sesión</a></li>
                        <li><a href="/register">Registrarse</a></li>
                        <li><a href="/carrito-compra"><i class="fas fa-shopping-cart carrito"></i></a></li>
                    </ul>
                </div>
            </div>
            <nav class="main-navbar-laptop">            
                <ul class="mainNav"type="none">
                    <li><a href="#">Libros por Categoría</a></li>                
                    <li><a href="#">Digital</a></li>
                    <li><a href="#">Merchandising</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Los más Vendidos</a></li>
                    <li><a href="#">Novedades</a></li>                
                    <li><a href="#">Pasatiempos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main id="cart-main">

        <section id="cart-section">
            <div class="wrapper">
                <div class="container">
                    <p class="section-title"> Tu Carrito </p>
                    <div class="products-container">
                        <div class="product">
                            <div class="delete-from-cart">
                                <i class="fas fa-trash"></i>
                            </div>
                            <img src="/images/Libro1.jpg" alt="">
                            <div class="text-container">
                                <p class="nombre-libro">Un año con Schopenhauer</p>
                                <p class="autor-libro">Irvin D. Yalom</p>
                                <p class="price">$99.99</p>
                            </div>   
                        </div>
                        <div class="product">
                            <div class="delete-from-cart">
                                <i class="fas fa-trash"></i>
                            </div>
                            <img src="/images/Libro1.jpg" alt="">
                            <div class="text-container">
                                <p class="nombre-libro">Un año con Schopenhauer</p>
                                <p class="autor-libro">Irvin D. Yalom</p>
                                <p class="price">$99.99</p>
                            </div>   
                        </div>
                        <div class="product">
                            <div class="delete-from-cart">
                                <i class="fas fa-trash"></i>
                            </div>
                            <img src="/images/Libro1.jpg" alt="">
                            <div class="text-container">
                                <p class="nombre-libro">Un año con Schopenhauer</p>
                                <p class="autor-libro">Irvin D. Yalom</p>
                                <p class="price">$99.99</p>
                            </div>   
                        </div>
                    </div>
                    <div class="total">
                        <p>Total a Pagar = $299.97 </p>
                    </div>
                    <div class="metodos-pago">
                        <p>Tarjetas de Credito/Debito</p>
                        <p>Visa - Mastercard - Cabal</p>
                        <p>Cuotas sin Interes</p>
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <buttom class="comprar-buttom">
                        <a href="">Comprar</a>
                    </buttom>
    
                </div>
            </div>  
        </section>
        <section id="other-options">    
            <div class="wrapper">
                <div class="container">
                    <p class="section-title"> Otras Opciones </p>
                    <div class="other-products">
                        <div class="products">
                            <img src="/images/Libro1.jpg" alt="">
                            <div class="text-container">
                                <p class="nombre-libro">Un año con Schopenhauer</p>
                                <p class="autor-libro">Irvin D. Yalom</p>
                                <p class="price">$99.99</p>
                            </div>  
                        </div>
                        <div class="products">
                            <img src="/images/Libro4.jpg" alt="">
                            <div class="text-container">
                                <p class="nombre-libro">La Psicoterapia y la Condicion Humana</p>
                                <p class="autor-libro">Irvin D. Yalom</p>
                                <p class="price">$99.99</p>
                            </div>  
                        </div>
                        <div class="products">
                            <img src="/images/Libro2.jpg" alt="">
                            <div class="text-container">
                                <p class="nombre-libro">El Enigma Espinoza</p>
                                <p class="autor-libro">Irvin D. Yalom</p>
                                <p class="price">$99.99</p>
                            </div>  
                        </div>
                           
                    </div>
                </div>
            </div>

        
    
        </section>
    </main>
</body>











<!-----------------------------Footer------------------------------------------------>
<footer>
    <div class="footer-social-wrap">
        <h4>Seguinos</h4>
        <ul class="social-btns" type="none">
            <li>
                <a href="#" aria-label="Book Store Facebook" target="_blank">
                    <img src="/images/FB-Icon.png" alt="" width="18px" height="18px">
                </a>
            </li>
            <li>
                <a href="#" aria-label="Book Store Twitter" target="_blank">
                    <img src="/images/TW-Icon.png" alt="" width="18px" height="18px">
                </a>
            </li>
            <li>
                <a href="#" aria-label="Book Store Pinterest" target="_blank">
                    <img src="/images/PI-Icon.png" alt="" width="18px" height="18px">
                </a>
            </li>
            <li>
                <a href="#" aria-label="Book Store Instagram" target="_blank">
                    <img src="/images/IG-Icon.png" alt="" width="18px" height="18px">
                </a>
            </li>
        </ul>
    </div>

    <div class="footer-links-content show-only-mobile">
        <div class="footer-links">
            <ul type="none">
                <li><a href="#" class="footer-sign-in-link"> Iniciar sesión/Crear cuenta</a></li>
                <li><a href="#"> Contacto</a></li>
                <li><a href="#"> Aviso Legal</a></li>
                <li><a href="#"> Política de privacidad</a></li>
                <li><a href="#"> Cookies</a></li>
                <li><a href="#"> Newsletter</a></li>
              </ul>
        </div>
    </div>
    <div class="footer-links-laptop">
        <ul type="none">          
            <li><a href="#"> Contacto</a></li>
            <li>|</li>
            <li><a href="#"> Aviso Legal</a></li>
            <li>|</li>
            <li><a href="#"> Política de privacidad</a></li>
            <li>|</li>
            <li><a href="#"> Cookies</a></li>
            <li>|</li>
            <li><a href="#"> Newsletter</a></li>     
            <li><input type="email" id="mail" name="mail" value="ejemplo@email.com"></li>
            <li><input type="submit" value="Suscribirse"></li>
        </ul>
        <p class="copyright">© 2021 The Book Store</p>
    </div>
    
</footer>

</html>
