<html>
<%-include('partials/head')%>
<body>
<%-include('partials/header')%>
<%-include('partials/sidebar')%>
<h1 style="text-align: center;">Detalles de la compra</h1>
<p id="carrito-vacio"></p>
<div id="cart-container">

</div>
<div class="buy">

<div class="col text-center">
<button type="button" class="btn btn-success">Comprar!</button>
</div>
</button>
</div>
   <!--  <main id="cart-main">

        <section id="cart-section">
            <div class="wrapper">
                <div class="container">
                    <p class="section-title"> Tu Carrito </p>
                    <div class="products-container">
                        <div class="product">
                            <div class="delete-from-cart">
                                <i class="fas fa-trash"></i>
                            </div>
                            <img src="/images/Libro1.jpg" alt="">
                            <div class="text-container">
                                <p class="nombre-libro">Un a単o con Schopenhauer</p>
                                <p class="autor-libro">Irvin D. Yalom</p>
                                <p class="price">$99.99</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="delete-from-cart">
                                <i class="fas fa-trash"></i>
                            </div>
                            <img src="/images/Libro1.jpg" alt="">
                            <div class="text-container">
                                <p class="nombre-libro">Un a単o con Schopenhauer</p>
                                <p class="autor-libro">Irvin D. Yalom</p>
                                <p class="price">$99.99</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="delete-from-cart">
                                <i class="fas fa-trash"></i>
                            </div>
                            <img src="/images/Libro1.jpg" alt="">
                            <div class="text-container">
                                <p class="nombre-libro">Un a単o con Schopenhauer</p>
                                <p class="autor-libro">Irvin D. Yalom</p>
                                <p class="price">$99.99</p>
                            </div>
                        </div>
                    </div>
                    <div class="total">
                        <p>Total a Pagar = $299.97 </p>
                    </div>
                    <div class="metodos-pago">
                        <p>Tarjetas de Credito/Debito</p>
                        <p>Visa - Mastercard - Cabal</p>
                        <p>Cuotas sin Interes</p>
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <buttom class="comprar-buttom">
                        <a href="">Comprar</a>
                    </buttom>

                </div>
            </div>
        </section>
        <section id="other-options">
            <div class="wrapper">
                <div class="container">
                    <p class="section-title"> Otras Opciones </p>
                    <div class="other-products">
                        <div class="products">
                            <img src="/images/Libro1.jpg" alt="">
                            <div class="text-container">
                                <p class="nombre-libro">Un a単o con Schopenhauer</p>
                                <p class="autor-libro">Irvin D. Yalom</p>
                                <p class="price">$99.99</p>
                            </div>
                        </div>
                        <div class="products">
                            <img src="/images/Libro4.jpg" alt="">
                            <div class="text-container">
                                <p class="nombre-libro">La Psicoterapia y la Condicion Humana</p>
                                <p class="autor-libro">Irvin D. Yalom</p>
                                <p class="price">$99.99</p>
                            </div>
                        </div>
                        <div class="products">
                            <img src="/images/Libro2.jpg" alt="">
                            <div class="text-container">
                                <p class="nombre-libro">El Enigma Espinoza</p>
                                <p class="autor-libro">Irvin D. Yalom</p>
                                <p class="price">$99.99</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </section>
    </main> -->
    <script src="/js/cart-display.js"></script>
    <script src="/js/sidebarScript.js"></script>
</body>

<!-----------------------------Footer------------------------------------------------>
<%-include('partials/footer')%>
</html>
