<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=10">
    <meta 
    <title>Descripción del producto</title>
</head>
<body>
    <header>
        va a ser igual para todas
    </header>
    <main>
        <div class="imagenes-productos">
            <img href= "#">
            <img href="#">
            <img href="#" class="imagen-principal-producto">
        </div>
        <div class="product-description">
           <span class="estrellas">
               <i>loguito estrellitas</i>
           </span>
           <h1>titulo</h1>
           <p>descripcion</p>
           <ul>datos</ul>
        </div>
        <div class="botones-comprar">
            cantidad
            comprar
            favs
        </div>
        <div>
            <p>sinopsis</p>
        </div>
        <div>
            <h2>Te pueden interesar...</h2>
            <nav>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </main>
    <footer>
        va a ser igual para todas
    </footer>
</body>
</html>