<!DOCTYPE html>
<html lang="en">
<%-include('partials/head')%>
<body>
<%-include('partials/header')%>
    <img class="banner" width = "90vw" height = "" src="/images/banner.jpg" alt="IMAGEN CARRUSEL"> <br>
<main>
    <ul type="none">
        <li>
            <h5 class="section">OFERTAS</h5>
        </li>
    </ul>    
    <section class="LibrosOfertas">
            <article class="libro">
                <img src="/images/Libro1.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Un año con Schopenhauer</a><br>
                        <a class="autor-libro">Irvin D. Yalom</a><br>
                        <a class="price">$99.99</a>
                    </div>
            </article>    
            <article class="libro1">
                <img src="/images/Libro2.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">El enigma Spinoza</a><br>
                        <a class="autor-libro">Irvin D. Yalom</a><br>
                        <a class="price">$99.99</a>
                    </div>
            </article>
            <article class="libro2">
                <img src="/images/Libro3.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">El dia que Nietzsche lloro</a><br>
                        <a class="autor-libro">Irvin D. Yalom</a><br>
                        <a class="price">$99.99</a>
                    </div>
            </article>
            <article class="libro3">
                <img src="/images/Libro4.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                <div class="Detalle">
                    <a class="nombre-libro">La Psicoterapia y la condición Humana</a><br>
                    <a class="autor-libro">Irvin D. Yalom</a><br>
                    <a class="price">$99.99</a>
                </div>        
            </article>            
 <!--           <article class="libro4">
                <img src="/images/Libro5.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                <div class="Detalle">
                    <a class="nombre-libro">Memorias de un Psiquiatra</a><br>
                    <a class="autor-libro">Irvin D. Yalom</a><br>
                    <a class="price">$99.99</a>
                </div>        
            </article>
            <article class="libro5">
                <img src="/images/Libro6.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                <div class="Detalle">
                    <a class="nombre-libro">Verdugo del amor</a><br>
                    <a class="autor-libro">Irvin D. Yalom</a><br>
                    <a class="price">$99.99</a>
                </div>        
            </article>-->
    </section>
    <ul type="none">
        <li>
            <h5 class="section">LOS MAS BUSCADOS</h5>
        </li>
    </ul>
    <section class="LibrosOfertas">
                <article class="libroOferta">
                    <img src="/images/Libro2.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                        <div class="Detalle">
                            <a class="nombre-libro">Otro libro</a><br>
                            <a class="autor-libro">Autor</a><br>
                            <a class="price">$99.99</a>
                        </div>
                </article>
                <article class="libroOferta">
                    <img src="/images/Libro1.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Otro libro diferente</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
                    </div>
                </article>
                <article class="libroOferta3">
                    <img src="/images/Libro4.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Un Libro mas</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
                    
                    </div>    
                </article>
                <article class="libroOferta4">
                    <img src="/images/Libro3.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Librillo</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
                    </div>
                </article>
<!--                <article class="libro">
                    <img src="/images/Libro6.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Librote</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
                    </div>
                </article>
                <article class="libro">
                    <img src="/images/Libro5.jpg" class="portadaLibro" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Libring la vida loca</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
                    </div>
                </article> -->
    </section>
   
</main>
<%-include('partials/footer')%>
</body>
</html>