<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>The Book Store</title>
</head>
<body>
    <header class="main-header">
        <div class=logo-search>
            <img class="logoTBS" width="120" height="120" src="/images/Logo-tbs.jpg"
                alt="Logo The Book Store">  
                <input class="search" type="search" value="Buscar productos">
            <h2 class="copy-header">
                <ul type="none">
                    <div>
                        <li><a href="#">Mis Favoritos</a></li>
                        <li><a href="#">Iniciar</a></li>
                        <li><a href="#">Registrarse</a></li>
                    </div> 
                </ul>
                    <i class="fas fa-shopping-cart"></i>
            </h2>
        </div>
        <nav class="main-navbar">            
            <ul class="mainNav"type="none">
                <li><a>LIBROS</a><i class="fas fa-sort-down"></i></li>
                <li><a>PASATIEMPOS</a></li><i class="fas fa-sort-down"></i>
                <li><a>MERCHANDISING</a></li><i class="fas fa-sort-down"></i>
                <li><a>DIGITAL</a></li><i class="fas fa-sort-down"></i>
                <li><a>OFERTAS</a></li><i class="fas fa-sort-down"></i>
                <li><a>LOS MAS VENDIDOS</a></li><i class="fas fa-sort-down"></i>
                <li><a>NOVEDADES</a></li><i class="fas fa-sort-down"></i>
                <li><a>MÁS</a></li><i class="fas fa-sort-down"></i>
            </ul>
        </nav>
    </header>
        <img class="banner" width = "90vw" height = "" src="/images/banner.jpg" alt="IMAGEN CARRUSEL"> <br>
        <ul type="none">
            <li>
                <h5 class="section">OFERTAS</h5>
            </li>
        <div class="LibrosOfertas">
            <ul type="none" class="ofertalibro">
            <li>
                <img src="/images/Libro1.jpg" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Un año con Schopenhauer</a><br>
                        <a class="autor-libro">Irvin D. Yalom</a><br>
                        <a class="price">$99.99</a>
            </li>
            <li>
                <img src="/images/Libro2.jpg" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">El enigma Spinoza</a><br>
                        <a class="autor-libro">Irvin D. Yalom</a><br>
                        <a class="price">$99.99</a>
            </li>
            <li>
                <img src="/images/Libro3.jpg" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">El dia que Nietzsche lloro</a><br>
                        <a class="autor-libro">Irvin D. Yalom</a><br>
                        <a class="price">$99.99</a>
            <li>
                <img src="/images/Libro4.jpg" alt="" width="80px" height="120px">
                <div class="Detalle">
                    <a class="nombre-libro">La Psicoterapia y la condición Humana</a><br>
                        <a class="autor-libro">Irvin D. Yalom</a><br>
                        <a class="price">$99.99</a>
            </li>
            <li>
                <img src="/images/Libro5.jpg" alt="" width="80px" height="120px">
                <div class="Detalle">
                    <a class="nombre-libro">Memorias de un Psiquiatra</a><br>
                        <a class="autor-libro">Irvin D. Yalom</a><br>
                        <a class="price">$99.99</a>
            </li>
            <li>
                <img src="/images/Libro6.jpg" alt="" width="80px" height="120px">
                <div class="Detalle">
                    <a class="nombre-libro">Verdugo del amor</a><br>
                        <a class="autor-libro">Irvin D. Yalom</a><br>
                        <a class="price">$99.99</a>
            </li>            
                </div>
            </div>
        </ul>
        </div>
        <ul type="none">
            <li>
                <h5 class="section">LOS MAS BUSCADOS</h5>
            </li>
        <div class="LibrosOfertas">
            <ul type="none" class="ofertalibro">
            <li>
                <img src="/images/Libro2.jpg" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Otro libro</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
            </li>
            <li>
                <img src="/images/Libro1.jpg" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Otro libro diferente</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
            </li>
            <li>
                <img src="/images/Libro4.jpg" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="nombre-libro">Nada que ver con los libros anteriores</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
            <li>
                <img src="/images/Libro3.jpg" alt="" width="80px" height="120px">
                <div class="Detalle">
                    <a class="nombre-libro">Librillo</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
            </li>
            <li>
                <img src="/images/Libro6.jpg" alt="" width="80px" height="120px">
                <div class="Detalle">
                    <a class="nombre-libro">Librote</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
            </li>
            <li>
                <img src="/images/Libro5.jpg" alt="" width="80px" height="120px">
                <div class="Detalle">
                    <a class="nombre-libro">Libring la vida loca</a><br>
                        <a class="autor-libro">Autor</a><br>
                        <a class="price">$99.99</a>
            </li>            
                </div>
            </div>
        </ul>
        </div>
        <ul type="none">
            <li>
                <h5 class="section">MECHANDISING</h5>
            </li>
        <div class="LibrosOfertas">
            <ul type="none" class="ofertalibro">
            <li>
                <img src="/images/Libro1.jpg" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="merchandising">Producto</a><br>
                        <a class="price">$99.99</a>
            </li>
            <li>
                <img src="/images/Libro2.jpg" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="merchandising">Producto</a><br>
                        <a class="price">$99.99</a>
            </li>
            <li>
                <img src="/images/Libro3.jpg" alt="" width="80px" height="120px">
                    <div class="Detalle">
                        <a class="merchandising">Producto</a><br>
                        <a class="price">$99.99</a>
            <li>
                <img src="/images/Libro4.jpg" alt="" width="80px" height="120px">
                <div class="Detalle">
                    <a class="merchandising">Producto</a><br>
                        <a class="price">$99.99</a>
            </li>
            <li>
                <img src="/images/Libro5.jpg" alt="" width="80px" height="120px">
                <div class="Detalle">
                    <a class="merchandising">Producto</a><br>
                        <a class="price">$99.99</a>
            </li>
            <li>
                <img src="/images/Libro6.jpg" alt="" width="80px" height="120px">
                <div class="Detalle">
                    <a class="merchandising">Producto</a><br>
                        <a class="price">$99.99</a>
            </li>            
                </div>
            </div>
        </ul>
        </div>
</body>
</html>