<html>
<head>
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>The Book Store</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="main-header">        
        <div class="head-mobile show-only-mobile">
            <div class="head-mobile-first">
                <button class="burger-button"><i class="fas fa-bars"></i></button>
                <img class="logoTBS" width="120" height="120" src="/images/Logo-tbs.png"
                    alt="Logo The Book Store">
                <a href="/carrito-compra"><i class="fas fa-shopping-cart carrito"></i></a>
            </div>
            <div class="search">
                <input type="search" id="searchbar" name="searchbar" placeholder="Buscar productos">
                <button class="search-button"> <i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="head-laptop">
            <div class=logo-search-laptop>
                <img class="logoTBS" src="/images/Logo-tbs.png"
                    alt="Logo The Book Store">
                <div class="search">
                    <input type="search" id="searchbar" name="searchbar" placeholder="Buscar productos">
                    <button class="search-button"> <i class="fas fa-search"></i></button>
                </div>
                <div class="links-header">
                    <ul type="none">                                
                        <li><a href="#">Mis Favoritos</a></li>
                        <li><a href="#">Iniciar Sesión</a></li>
                        <li><a href="/register">Registrarse</a></li>
                        <li><a href="/carrito-compra"><i class="fas fa-shopping-cart carrito"></i></a></li>
                    </ul>
                </div>
            </div>
            <nav class="main-navbar-laptop">            
                <ul class="mainNav"type="none">
                    <li><a href="#">Libros por Categoría</a></li>                
                    <li><a href="#">Digital</a></li>
                    <li><a href="#">Merchandising</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Los más Vendidos</a></li>
                    <li><a href="#">Novedades</a></li>                
                    <li><a href="#">Pasatiempos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h2 class="titulo-register">Ingresa tus datos</h2>
    <div class="card">

            <div>
            
            <i class="fas fa-portrait"><input class="input-register" type="text" placeholder="Nombre"></i>
            </div>
            <div>
            <i class="fas fa-portrait"><input class="input-register" type="text" placeholder="Apellido"></i>
            </div>
            <div>
            <i class="fas fa-user-circle"><input class="input-register" type="text" placeholder="Usuario"></i>
            </div>
            <div>
            <i class="far fa-envelope"><input class="input-register" type="email" placeholder="Email"></i>
            </div>
            <div>
            <i class="fas fa-mobile-alt"><input class="input-register" type="number" placeholder="Telefono"></i>
            </div>
            <div>
            <i class="fas fa-lock"><input class="input-register" type="password" placeholder="Contrasena"></i>
            </div>
            <div>
            <i class="fas fa-lock"><input class="input-register" type="password" placeholder="Repita su contrasena"></i>
            </div>
            <div>
            <button class="boton-register" type="submit">Registrame!</button> 
            <span class="ya-registrado">
                <p>Ya estas registrado?  <a href="#">Log in</a></p>
            </span> 
            </div>
        
    </div>
   
    
</body>

<!-----------------------------Footer------------------------------------------------>
<footer>
    
        <ul class="footer">
            
            <a href="#"><li>Contacto info@thebookstore.com</li></a>
            <a href="#"><li>Aviso Legal</li></a>
            <a href="#"><li>Politica de privacidad</li></a>
            <a href="#">
            <li class="social-media">
                <a class="face" href="#"><i class="fab fa-facebook"></i></a>
                <a class="insta" href="#"><i class="fab fa-instagram"></i></a>
                <a class="twi" href="#"><i class="fab fa-twitter"></i></a>
                <a class="coment" href="#"><i class="far fa-comment"></i></a>
            </li>
            </a>
            <a href="#">
            <li>Suscribirse</li>
            </a>
            
        </ul>
      
</footer>

</html>













