<head>
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>The Book Store</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-----------------------------Header------------------------------------------------>
<div style="height:20%;width: 100%; background-color: rgb(41, 41, 248);"></div> <!--------rellene el espacio para tener referencia de lo que ocupa el header---------->
<!-----------------------------Logo/icono------------------------------------------------>

<body>
    <h2 class="titulo-register">Ingresa tus datos</h2>
    <div class="card">

            <div>
            <i class="fas fa-portrait"><input class="input-register" type="text" placeholder="Nombre"></i>
            </div>
            <div>
            <i class="fas fa-user-circle"><input class="input-register" type="text" placeholder="Usuario"></i>
            </div>
            <div>
            <i class="far fa-envelope"><input class="input-register" type="text" placeholder="Email"></i>
            </div>
            <div>
            <i class="fas fa-mobile-alt"><input class="input-register" type="text" placeholder="Telefono"></i>
            </div>
            <div>
            <i class="fas fa-lock"><input class="input-register" type="text" placeholder="Contrasena"></i>
            </div>
            <div>
            <i class="fas fa-lock"><input class="input-register" type="text" placeholder="Repita su contrasena"></i>
            </div>
            <div>
            <button class="boton-register" type="submit">Registrame!</button>  
            </div>
        
    </div>
</body>

<!-----------------------------Footer------------------------------------------------>
<footer>
    
        <ul class="footer">
            
            <a href="#"><li>Contacto info@thebookstore.com</li></a>
            <a href="#"><li>Aviso Legal</li></a>
            <a href="#"><li>Politica de privacidad</li></a>
            <a href="#">
            <li class="social-media">
                <a class="face" href="#"><i class="fab fa-facebook"></i></a>
                <a class="insta" href="#"><i class="fab fa-instagram"></i></a>
                <a class="twi" href="#"><i class="fab fa-twitter"></i></a>
                <a class="coment" href="#"><i class="far fa-comment"></i></a>
            </li>
            </a>
            <a href="#">
            <li>Suscribirse</li>
            </a>
            
        </ul>
      
</footer>

</html>













