

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>The Book Store</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-----------------------------Header------------------------------------------------>
<div style="height:20%;width: 100%; background-color: rgb(41, 41, 248);"></div>
<!-----------------------------Logo/icono------------------------------------------------>

<body>
    <h2 class="titulo-register">Ingresa tus datos</h2>
    <div class="card">

        
            <i class="fas fa-portrait"><input class="input-register" type="text" placeholder="Nombre"></i>
            
            
            <i class="fas fa-user-circle"><input class="input-register" type="text" placeholder="Usuario"></i>


            <i class="far fa-envelope"><input class="input-register" type="text" placeholder="Email"></i>

      
            <i class="fas fa-mobile-alt"><input class="input-register" type="text" placeholder="Telefono"></i>


            <i class="fas fa-lock"><input class="input-register" type="text" placeholder="Contrasena"></i>

  
            <i class="fas fa-lock"><input class="input-register" type="text" placeholder="Repita su contrasena"></i>


        <button class="boton-register" type="submit">Registrame!</button>  
    </div>
</body>

<!-----------------------------Footer------------------------------------------------>
</html>













