*{
    background-color:rgba(204, 204, 204, 0.082);
    margin: auto;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}



/*-------------------------------------------------Footer-----------------------------------------------------------*/
.footer-social-wrap{
    text-align: center;
    margin-top: 20px;
}

.footer-social-wrap ul{
    display: block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

.footer-social-wrap li {
    display: inline-block;
    margin: 0;
    padding: 0 1.5rem 0;
    font-size: 1.8rem;
    background-color: transparent;
}

.footer-links-content{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 14px;    
}

.footer-links{
    padding-left: 15px;
    padding-right: 15px;
}

.footer-links a{
    text-decoration: none;
    color:black;
    display: block;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-links ul{
    padding-inline-start: 0px;
}

.social-media{
    text-decoration: none;
}
.social-media .insta{

    color: rgb(132, 36, 221)
}

.social-media .face{

    color: rgba(29, 29, 255, 0.959)
}
.social-media .twi{

    color: rgb(36, 150, 243)
}

.social-media .coment{

    color: rgb(7, 207, 7)
}

/*----------------------------------------------Carrito de compras (mobile)-----------------------------------------------------------*/
.body-carrito{
    background-color: rgb(12, 171, 177);
}

.carrito .item-compra{
    display: flex;
    height: 20vh;
    width: 50vh;
    background-color: #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 10px 5px 5px rgb(180, 244, 248);
    margin: 10px
}
.carrito .item-compra .imagen-carrito{
  height: 20vh;
}
.carrito .item-compra .imagen-carrito img{
    max-height: 100%;
    max-width: 100%;
}

.carrito .item-compra .titulo-producto{
    font-size: 0.6rem;
    color: grey;
}

.carrito .item-compra .botones button{
 border: none;
 cursor: pointer;
}
.carrito .item-compra .botones button i{
    color: green;
    font-size: 1rem;
}
.carrito .item-compra .botones .menos i{
    color: rgb(160, 10, 10);
}
.carrito .item-compra .botones button i:hover{
    color: rgb(0, 247, 0);
}


.carrito .item-compra .botones .menos i:hover{
    color: rgb(255, 21, 21);
}


.confirmar-compra{
    width: 40%;
    margin-top: 5%;
}
.confirmar-compra button{
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: gold;
    border:none;
}
.confirmar-compra button:hover{
    background-color: rgb(206, 192, 0);
    color: white;
}

div.total{
    margin-top: 1vh;
    text-align: center;
    color: #fff;
}

#cart-main .product {
    display: flex;
    position: relative;
    justify-content: space-between;
}

#cart-main .product:not(:last-child) {
    margin-bottom: 30px;
}

#cart-main .product img {
    width: 100px;
}
#cart-main .text-container .nombre-libro {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}

#cart-main .text-container .price {
    font-size: 16px;
    font-weight: bold;
}

#cart-main .text-container {
    width: 50%;
}

.wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 92%;
    max-width: 1100px;
}

#cart-main .text-container .autor-libro {
    font-size: 12px;
    line-height: 14px;
    margin: 10px 0;
}

#cart-main section {
    position: relative;
    display: block;
    padding: 50px 0;
}

title {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
}

#cart-main section .container {
    border: 1px solid black;
    padding: 50px 0;
}

#cart-main section .container .section-title {
    top: -20px;
    position: absolute;
    left: 15px;
    padding: 10px;
    background: #eaeaea;
    border: 1px solid black;
}

#cart-section .total {
    position: absolute;
    right: 10px;
    bottom: -20px;
    padding: 10px;
    color: black;
    border: 1px solid black;
    background: #e6e6e6;
}

.metodos-pago {
    padding: 25px;
    line-height: 22px;
    border-top: 1px solid black;
    margin-top: 30px;
    text-align: center;
}
/*---------------------------------------------- Vista de Escritorio-----------------------------------------------------------*/
@media(min-width:1200px){
/*--------------------------------------- Carrito (Vista Escritorio)------------------------------------------------------*/

    .products-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    #cart-section .product {
        width: calc(33.3% - 20px);
        margin-bottom: 30px;
    }
    
    .metodos-pago {
        position: absolute;
        top: 100%;
        border: 1px solid black;
        padding: 10px;
        margin-top: 0;
    }
    
    .metodos-pago p {
        position: relative;
        display: inline-block;
        margin-right: 15px;
    }
    
    }
    .other-products {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .other-products .products img {
        width: 100px;
    }

    section#other-options .wrapper .container {
        height: 350px;
    }


    .comprar-buttom {
        border: 1px solid black;
        display: flex;
        border-radius: 8ch;
        width: 116px;
        height: 33px;
    }

    .comprar-buttom a {
        text-decoration: none;
    }
    
@media(min-width:1024px){

/*---------------------------------------------------Footer (Vista Escritorio)------------------------------------------------------*/
    .footer-links-laptop{display: flex;}

    .footer-links-laptop ul{
        padding-top: 20px;
        padding-bottom: 20px;        
    }   

    .footer-links-laptop li{
        display: inline-block;
        padding-inline-start: 0px;
        margin: 5px;
    }


    .footer-links-laptop a{
        text-decoration: none;
        color: black;
        font-size: 14px;
    }
    
    .button-footer{
        background-color: #3e5f8a;
        font-size: 14px;
        width: 85px;
        height: 25px;
        color: white;
    }
    
    .button-footer:hover{
        background-color: #ffc552;
    }

    .copyright{
        color: black;
        font-size: 14px;
    }

/*----------------------------------------------------------------------------------------------*/
/*-------------------------------------HEADER LAPTOP--------------------------------------------*/
    .show-only-mobile{
        display: none;
    }

    .links-header {
        display: flex;
        justify-content: space-between;
    }

    .links-header ul{
        background-color: #ffc552; 
    }

    .links-header li{
        display: inline-block;
        padding: 5px;
        background-color: transparent;
    }

    .links-header a{
        color: black;
        text-decoration: none;
        background-color: transparent;
    }

    .logo-search-laptop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: #ffc552;
    }

    .logo-search-laptop a{
        background-color: transparent;
        }
        
    .mainNav {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        flex-wrap: wrap;   
        background-color: white;  
    }

    .mainNav a{
        text-decoration: none;
        color: inherit;
        background-color: white;
    }

    .mainNav i{
        background-color: white;
    }
/*-------------------------------------FIN HEADER--------------------------------------------------*/
}

/*-------------------------------------HEADER MOBILE--------------------------------------------------*/
@media(max-width:1023px){

    .head-laptop{
        display: none;
        }
    
    .footer-links-laptop{display: none;}

    .search {        
        padding-bottom: 10px;
    }
}

.head-mobile{
    background-color: #ffc552;
}

.head-mobile-first{
    display: flex;
}

.head-mobile-first a{
    background-color: transparent;
}

.burger-button{
    font-size: 30px;
    border: 0;
    background-color: transparent;
}

.logoTBS {
    width: 100px;
    height: 100px;
    background-color: transparent;
}

.search {
    text-align: center;
}

.search  input{
    background-color: white;
    border: 0;
    height: 30px;
    width: 230px;
    padding: 5px;
}

.search-button{
    height: 30px;
    border: 0;
    background-color: white;
}

.banner {
    width: 100%;
}

.carrito {
    color: black;
    font-size: 30px;
    background-color: transparent;
}


/*.carrito:hover {
    color:rgb(17, 192, 245);
}*/

/*------------------------------------FIN HEADER MOBILE--------------------------------------*/

/*--------------------------------------MAIN----------------------------------------------------*/
@media (min-width:320px){
    .LibrosOfertas,
    .merchandisingProducts {
        display: flex;
        padding: 0px;
        margin: 0px;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .libro,
    .libro1,
    .libro2,
    .libro3,
    .libroOferta,
    .merchandising1,
    .merchandising2,
    .merchandising3 {
        text-align: center;
        margin: 0px;
        width: 50%;
        box-shadow: 0px 0px 10px #646464;
        border: solid 2px #646464;
        max-width: 35%;
        margin: 30px;
        padding-top: 15px;
    }
    .merchandising4 {
        display: none;
    }
    .libro:hover,
    .libro1:hover,
    .libro2:hover,
    .libro3:hover,
    .libroOferta:hover,
    .libroOferta3:hover,
    .merchandising1:hover,
    .merchandising2:hover,
    .merchandising3:hover,
    .merchandasing4:hover {
        border: solid 2px #4c94ba;
    }
    .libro2,
    .libro3,
    .libroOferta3,
    .libroOferta4 {
        display: none;
    }
    
    .Detalle {
        margin: 0px;
    }
    .Detalle:hover {
        background-color: #ffc552;
    }
    .nombre-libro {
        font-size: 12px;
        font-weight: bolder;
    }
    .autor-libro{
        font-size: 11px;
        font-weight: bolder;
    }
    .price {
        font-size: 15px;
        font-style: italic;
        margin-bottom: 10px;
    }
    .section {
        text-align: center;
        font-weight: bolder;
        font-size: 18px;
        width: 100vw;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .section:hover {
        font-size: 24;
        color: #4c94ba;
    }
    ul {
        padding: 0px;
    }

@media (min-width:768px){    
    .libro,
    .libro1,
    .libro2,
    .libro3,
    .libroOferta,
    .libroOferta3
     {
        text-align: center;
        margin: 0px;
        width: 50%;
        box-shadow: 0px 0px 10px #646464;
        border: solid 2px #646464;
        max-width: 18%;
        margin: 30px;
        padding-top: 15px;
    }
    .libro:hover,
    .libro1:hover,
    .libro2:hover,
    .libro3:hover,
    .libroOferta:hover,
    .libroOferta3:hover {
        border: solid 2px #4c94ba;
    }
    .libro2,
    .libroOferta3 {
        display: block;
    }
    .libro3,
    .libroOferta4 {
        display: none;
    }
    
@media (min-width:1200px){
.LibrosOfertas {
    justify-content: space-around;
}
.libro:hover,
.libro1:hover,
.libro2:hover,
.libro3:hover {
    border: solid 2px #4c94ba;
}
}

/*                           DETALLE DEL PRODUCTO 

colores
background-color: #3E60F7;
background-color: #A4BEFB;
background-color: #A4F0FF;
Rosa línea #FA78E3

background-color: #3E60F7;
*/

.main-detalle-producto {
    width: 97%;
    text-align: center;
    margin-top: 2vw;
}
.producto {
    background-color: #fff;
    padding-top: 15px;
    box-shadow: 0px 0px 10px #646464;
    border: solid 2px #4c94ba;
    min-width: 30vw;
}
.producto-principal {
    padding: 4vw 6vw;
}

.producto-principal a{
    text-decoration: none;
}

.imagen-producto {
    display: inline-block;
}
.datos-producto {
    background-color: #fff;
    max-width: 80%;
    box-sizing: border-box;
}
.datos-producto h3 {
    font-size: 1.7rem;
    padding: 15px 5px 0 5px;
    color: black;
    background-color: transparent;
}
.datos-producto h4 {
    font-size: 1.3rem;
    color: black;
    background-color: transparent
}
.datos-producto h2 {
    font-size: 2rem;
    padding: 15px;
    color: black;
    background-color: transparent
}
.tablet {
    display: block;
}
.compartir-carrito-favs {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    margin: 5px;
}

.compartir-carrito-favs button {
    background-color: #3e5f8a;
    color: white;
    border-radius: 3px;
}
.compartir {
    font-size: 90%;
    border: 1px solid #c2c2c2;
    padding: 10px;
}
.agregar-al-carrito {
    font-size: 90%;
    padding: 10px 20px;
    border: 1px solid #c2c2c2;
}
.agregar-a-favoritos {
    font-size: 90%;
    border: 1px solid #c2c2c2;
    padding: 10px;
}
.beneficios {
    display: flex;
    margin: 15px;
    padding: 20px 5px;
    border-top-style: inset;
    border-top-width: 1px;
    background-color: #fff;
}
.beneficios .linea-vertical {
    border-left: 1.7px solid #828282;
    height: 50px;
}
.beneficio {
    padding: 5px 0;
    background-color: #fff;
}
.beneficio p {
    font-size: 0.7rem;
    text-align: center;
    padding: 5px;
    background-color: #fff;
}
.sinopsis{
    border: solid 1px #828282;
}
.sinopsis h4 {
    text-align: left;
    border-bottom: solid 1px #828282;
    margin-left: 5px;
    margin-right: 5px;
    letter-spacing: 4px;
}
.sinopsis p {
    background-color: #fff;
    text-align: justify;
    font-size: 0.8rem;
    padding: 10px;
    margin: 0 3px;
}
.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#828282;
    text-align: right;
    margin: 10px;
}
.redes-sociales a {
    width: 5%;
    padding: 0%;
    border: 1px;
    margin: 7px;
}
.propuestas-por-autor {
    margin-bottom: 7px;
}
.propuestas-por-autor .titulo-mismo-autor {
    letter-spacing: 4px;
}
.propuestas-por-autor h4 {
    background-color: #fff;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 0 10px 3px;
    font-size: 1.5rem;
}
.propuestas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}
.propuestas article {
    padding: 15px 0;
    width: 45%;
    margin-top: 15px;
    margin-bottom: 10px;
}
.propuestas h3 {
    font-size: 1.2rem;
    padding-bottom: 3px;
}
.propuestas h4 {
    font-size: 1.1rem;
    text-align: center;
}
.propuestas h2 {
    font-size: 1.4rem;
    padding-top: 3px;
}


@media(min-width:768px){
    .producto-principal .producto {
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }
    .producto-principal .datos-producto {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .compartir-carrito-favs {
        visibility: hidden;
    }
    .tablet {
        visibility: none;
    }
    .propuestas article {
        max-width: 30%;
    }
}

@media(min-width:1024px){
    .producto-principal {
    max-width: 80%;
    }
}

/*********************************FORM CREATE PRODUCT**************************************************/
.card-create-prod{
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    background-color:#ffff;
    width: 50vw;
    height:100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    min-width: 200px;
}

.card-create-prod label{
    background-color: #ffff;
}

.msg-create-prod,
.container-create-prod{
    background-color: #ffff;
    padding: 16px;
}

.msg-create-prod h4{
    background-color: #ffff;
    text-align: center;
}

.card-create-prod input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.card-create-prod input[type=number] {
    width: 140px;
    padding: 12px 20px;
    margin: 8px 0;
    /*margin-left: 20px;*/
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
.card-create-prod textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .card-create-prod select {    
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .card-create-prod input[type=file] {
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }

.card-create-prod button{
    background-color: #3e5f8a;
    font-size: 16px;
    width: 100px;
    height: 30px;
    color: white;
}

.card-create-prod button:hover{
    background-color: #ffc552;
}
}
}

/*********************************FORM LOGIN**************************************************/
.card-login{
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    background-color:#ffff;
    width: 50vw;
    height:100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    min-width: 200px;
}

.card-login label{
    background-color: #ffff;
}

.msg-login{
    background-color: #ffff;
    padding: 16px;
}

.msg-login h4{
    background-color: #ffff;
}

.card-login button{
    background-color: #3e5f8a;
    font-size: 16px;
    width: 100px;
    height: 30px;
    color: white;
}

.card-login button:hover{
    background-color: #ffc552;
}

.container-login{
    padding: 16px;
    background-color: #ffff;
}

.card-login input[type=email], .card-login input[type=password], input[type=number],  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.container-button {
      text-align: center;
      background-color: #ffff;
      margin: 10px 0 10px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

.container-button input{
    background-color: #ffff;
}

.container-links-psw a{
    background-color: #ffff;
    text-decoration: none;
    color: black;
}

.container-links-psw li{
    text-align: center;
    background-color: #ffff;
}

.container-links-psw a:active,
.container-links-psw a:visited{
    color: blue;
    font-weight: bold;}
    


/*********************************FIN FORM LOGIN**************************************************/



/*********************************nuevo estilo**************************************************/

.container-register{
    padding: 16px;
    background-color: #ffff;
}

.container-register h4{
    background-color: #ffff;
}
.form-register div{
    text-align: center;
}
@media(max-width:560px ){
    .container-register{
        background-color: #ffff;
        width: 90%;
        height: 100%;
        margin: 0;
        position: absolute;
        top:23%;
        left: 5%;
    }
}