*{
    background-color:rgba(204, 204, 204, 0.082);
    margin: auto;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
.carrito {
    color:#2D45ED;
}
.carrito:hover {
    color:rgb(17, 192, 245);
}
/*----------------------------------------Formulario de registro--------------------------------------------------------*/
.card{
    background-color:#ffff;
    width: 50%;
    margin: auto;
    height:50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    min-width: 200px;
}

.boton-register{
    padding: 4px;
    padding: 3px;
    background-color:#cccc;
    color: rgb(235, 5, 5);
    text-align: center;
    margin-top:20%;
}
.boton-register:hover{
    background-color: red;
    color: white;
}
.input-register{
    font-size: 0.8rem;
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    background-color: #ffff
}

.card i{
    margin-top: 5px;
    background-color: #ffff;
    text-align: center;
    font-size: 25px;
    padding: 5px;
}

.card div{
    background-color: white;
}

.titulo-register{
    text-align: center;
    margin-top:5%;
    margin-bottom:3%;

}
/*-------------------------------------------------Footer-----------------------------------------------------------*/
.footer{
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem; 
    border: 1px solid black;
    display: flex;
    list-style: none;
    font-size: 0.7rem;
    justify-content: space-between;
    background-color: rgb(165, 165, 165);
}

.footer li{
    border-right: 0.1px solid black;
    padding: 2px;
    color: black;
}

.footer a{
    text-decoration: none;
}

.footer a li{
    background-color:rgb(165, 165, 165);
}

.social-media{
    text-decoration: none;
}
.social-media .insta{

    color: rgb(132, 36, 221)
}

.social-media .face{

    color: rgba(29, 29, 255, 0.959)
}
.social-media .twi{

    color: rgb(36, 150, 243)
}

.social-media .coment{

    color: rgb(7, 207, 7)
}

/*----------------------------------------------Carrito de compras-----------------------------------------------------------*/
.body-carrito{
    background-color: rgb(12, 171, 177);
}
.carrito{
    display: flex;
    flex-direction: column;
    background-color: rgb(147, 36, 238);
}
.carrito .item-compra{
    display: flex;
    height: 20vh;
    width: 50vh;
    background-color: #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 10px 5px 5px rgb(180, 244, 248);
}
.carrito .item-compra .imagen-carrito{
  height: 20vh;
}
.carrito .item-compra .imagen-carrito img{
    max-height: 100%;
    max-width: 100%;
}

.carrito .item-compra .titulo-producto{
    font-size: 0.6rem;
    color: grey;
}

.carrito .item-compra .botones button{
 border: none;
}
.carrito .item-compra .botones button i{
    color: green;
    font-size: 1rem;
}
.carrito .item-compra .botones .menos i{
    color: rgb(160, 10, 10);
}
.carrito .item-compra .botones button i:hover{
    color: rgb(0, 247, 0);
}


.carrito .item-compra .botones .menos i:hover{
    color: rgb(255, 21, 21);
}


.confirmar-compra{
    width: 40%;
    margin-top: 5%;
}
.confirmar-compra button{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: gold;
    border:none;
}
.confirmar-compra button:hover{
    background-color: rgb(206, 192, 0);
    color: white;
}
/*----------------------------------------------Vista para Laptop-----------------------------------------------------------*/
@media(min-width:1200px){
/*----------------------------------------Formulario Registro (Laptop)------------------------------------------------------*/
    .card{
        margin:auto;
        align-items: flex-end;
        width: 30%;
        
    }
    .card i{

        background-color: #ffff;
        text-align: center;
        font-size: 40px;
        padding: 2px;
        
    }
    .boton-register{
        font-size: 1rem;
        padding: 4px;
        padding: 3px;
        background-color:#cccc;
        color: rgb(235, 5, 5);
        text-align: center;
        margin-top:20%;
        cursor: pointer;
    }
    .input-register{
        font-size: 1rem;
    }
    .input-register:focus{
        border-color: green;
        color:green;
    }

/*---------------------------------------------------Footer (Laptop)------------------------------------------------------*/

    .footer{
        border: 2px solid black;
    }
    .footer li{
        font-size: 1rem;
        padding: 5px;
        color: black;
        border-right:none;
    }
    
    .footer a{
        text-decoration: none;
    }
    .footer a li:hover{
        color: white; 
        transition-delay:0.3s;
    }

    .social-media .insta:hover{
        color:rgb(167, 113, 255);
    }
    .social-media .face:hover{

        color:rgb(51, 102, 240);
    }
    .social-media .twi:hover{
    
        color:rgba(113, 234, 255, 0.712);
    }
    
    .social-media .coment:hover{
    
        color:rgb(125, 255, 113);
    }
/*----------------------------------------------------------------------------------------------*/

}
/* HEAD Y BODY */
.main-header {
    padding: 20px;
}
.div main-navbar {
    display: flex;
}
.logoTBS {
    width: 120px;
}

.copy-header {
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.logo-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mainNav {
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner {
    width: 100%;
}

.search {
    width: 40%;
}
.ofertalibro {
    display: flex;
    margin: 10px;
}

.nombre-libro {
    font-size: 12px;
}
.autor-libro{
    font-size: 11px;
}
.price {
    font-size: 10px;
}


/*                           DETALLE DEL PRODUCTO 

colores
background-color: #3E60F7;
background-color: #A4BEFB;
background-color: #A4F0FF;
Rosa línea #FA78E3

background-color: #3E60F7;
*/

.main-detalle-producto {
    width: 97%;
    text-align: center;
    margin-top: 2vw;
}
.producto {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-top: 15px;
    box-shadow: 0px 0px 10px #646464;
}
.producto-principal {
    padding: 4vw 6vw;
}
.imagen-producto {
    display: inline-block;
}
.datos-producto {
    background-color: #fff;
    max-width: 80%;
    box-sizing: border-box;
}
.datos-producto h3 {
    font-size: 1.7rem;
    padding: 15px 5px 0 5px;
}
.datos-producto h4 {
    font-size: 1.3rem;
}
.datos-producto h2 {
    font-size: 2rem;
    padding: 15px;
}
.cantidad-carrito-favs {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    margin: 5px;
}
.cantidad-producto {
    display: flex;
    background-color: #ebebeb;
}
.cantidad-carrito-favs button {
    background-color: #ebebeb;
}
.cantidad-producto .numero {   
    border: 1px solid #CCCCCC;
    line-height: 28px;
    padding-top: 7px;
    margin: 0 2px;
    width: 28px;
    box-shadow: 0 0 3px #dddddd inset;
}
.cantidad-producto .flecha {
    display: flex;
    flex-direction: column;
    border: 1px solid #CCCCCC;
}
.agregar-al-carrito {
    font-size: 90%;
    padding: 10px 20px;
    border: 1px solid #CCCCCC;
}
.agregar-a-favoritos {
    font-size: 90%;
    border: 1px solid #CCCCCC;
    padding: 10px;
}
.beneficios {
    display: flex;
    margin: 15px;
    padding: 20px 5px;
    border-top-style: inset;
    border-top-width: 1px;
}
.beneficios .linea-vertical {
    width: 1px;
    color: black;
    height: 100%;
    float: left; 
}
.beneficio {
    padding: 5px 0;
}
.beneficio p {
    font-size: 0.7rem;
    text-align: center;
    padding: 5px;
}
.sinopsis{
    border: solid 1px #828282;
}
.sinopsis h4 {
    text-align: left;
    border-bottom: solid 1px #828282;
    margin-left: 5px;
    margin-right: 5px;
    padding: 6px 0 6px 3px;
}
.sinopsis p {
    background-color: #fff;
    text-align: justify;
    font-size: 0.8rem;
    padding: 10px;
    margin: 0 3px;
}
.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#828282;
    text-align: right;
    margin: 10px;
}
.redes-sociales a {
    width: 5%;
    padding: 0%;
    border: 1px;
    margin: 7px;
}
.redes-sociales a i {
    color:#828282;
    font-size: 1.5rem;
    padding-right: 5px;
}
.redes-sociales p {
    color:#828282;
    margin: 3px 6px 0px;
    padding-right: 5px;
}
.propuestas-por-autor {
    margin-bottom: 7px;
}
.propuestas-por-autor h4 {
    background-color: #fff;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 0 10px 3px;
    font-size: 1.5rem;
}
.propuestas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}
.propuestas article {
    padding: 15px 0;
    max-width: 45%;
    margin-top: 15px;
    margin-bottom: 10px;
}
.propuestas h3 {
    font-size: 1.2rem;
    padding-bottom: 3px;
}
.propuestas h4 {
    font-size: 1.1rem;
    text-align: center;
}
.propuestas h2 {
    font-size: 1.4rem;
    padding-top: 3px;
}