<html>
    <%-include('../partials/head')%>
<body>
    <%-include('../partials/header')%>
    <h2 class="titulo-register">Ingresa tus datos</h2>
    <div class="card">
            <form class="form-register">
            <div>
            <i class="fas fa-portrait"><input class="input-register" type="text" placeholder="Nombre"></i>
            </div>
            <div>
            <i class="fas fa-portrait"><input class="input-register" type="text" placeholder="Apellido"></i>
            </div>
            <div>
            <i class="fas fa-user-circle"><input class="input-register" type="text" placeholder="Usuario"></i>
            </div>
            <div>
            <i class="far fa-envelope"><input class="input-register" type="email" placeholder="Email"></i>
            </div>
            <div>
            <i class="fas fa-mobile-alt"><input class="input-register" type="number" placeholder="Telefono"></i>
            </div>
            <div>
            <i class="fas fa-lock"><input class="input-register" type="password" placeholder="Contrasena"></i>
            </div>
            <div>
            <i class="fas fa-lock"><input class="input-register" type="password" placeholder="Repita su contrasena"></i>
            </div>
            <div>
            <button class="boton-register" type="submit">Registrame!</button> 
            <span class="ya-registrado">
                <p>Ya estas registrado?  <a href="#">Log in</a></p>
            </span> 
            </div>
        </form>
    </div>
   
    
</body>

<!-----------------------------Footer------------------------------------------------>
<%-include('../partials/footer')%>

</html>













