<html>
    <%-include('../partials/head')%>
<body>
    <%-include('../partials/header')%>
   <main>

    <div class="card-login">   
        <form form class="form-register" method="POST" action="/users/register" enctype="multipart/form-data">  
            <div class="container-register">
                <h4>Ingresa tus datos!</h4>
            </div>
                <div class="container-register">
                    <label for="first_name">Nombre</label>
                    <input type="text" name="first_name" placeholder="Ingrese su nombre" required>

                    <label for="lastname">Apellido</label>
                    <input type="text" name="lastname" placeholder="Ingrese su apellido" required>

                    
                    <label for="user_name">Nombre de usuario</label>
                    <input type="text" name="user_name" placeholder="Ingrese su nombre de usuario" required>

                    <label for="avatar">Elige tu avatar</label><br>
                    <input class="input-register" type="file" name="avatar" accept=".jpg, .png" style="margin-bottom: 20px;"><br>

                    <label for="phone">Telefono</label>
                    <input type="number" name="phone" placeholder="Ingrese su telefono" required>


                    <label for="mail">E-mail</label>
                    <input type="email" name="mail" placeholder="Ingrese su e-mail" required>
    
                    <label for="psw">Contraseña</label>
                    <input type="password" name="psw" placeholder="Ingrese contraseña" required>
    
                    <div class="container-button">
                        <button type="submit">Registrame</button>
                    </div>
                    <div class="container-links-psw">
                        <ul type="none">
                            <li>Ya estas registrado?<a href="/users/login">Login</a></li>
                        </ul>
                    </div>
                </div>                
        </form>
    </div>
    
    
   </main>
</body>

<!-----------------------------Footer------------------------------------------------>
<%-include('../partials/footer')%>

</html>





<!-- 
 <h2 class="titulo-register">Ingresa tus datos</h2>
    <div class="card">
            <form class="form-register" method="POST" action="/users/register" enctype="multipart/form-data">
            <div>
            <i class="fas fa-portrait"><input class="input-register" type="text" name="first_name" placeholder="Nombre"></i>
            </div>
            <div>
            <i class="fas fa-portrait"><input class="input-register" type="text" name="lastname" placeholder="Apellido"></i>
            </div>
            <div>
            <i class="fas fa-user-circle"><input class="input-register" type="text" name="user_name" placeholder="Usuario"></i>
            </div>
            <div>
            <i class="far fa-envelope"><input class="input-register" type="email" name="email" placeholder="Email"></i>
            </div>
            <div>
            <i class="fas fa-mobile-alt"><input class="input-register" type="number" name="phone" placeholder="Telefono"></i>
            </div>
            <div>
            <i><input class="input-register" type="file" name="avatar" accept=".jpg, .png"></i>
            </div>
            <div>
            <i class="fas fa-lock"><input class="input-register" type="password" name="pass" placeholder="Contrasena"></i>
            </div>
            <div>
            <i class="fas fa-lock"><input class="input-register" type="password" name="password" placeholder="Repita su contrasena"></i>
            </div>
            <div>
            <button class="boton-register" type="submit">Registrame!</button> 
            <span class="ya-registrado">
                <p>Ya estas registrado?  <a href="/users/login">Log in</a></p>
            </span> 
            </div>
        </form>
    </div>
   
    
 -->


