<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>
<body>
<%-include('../partials/header')%>
    <main>
        <%-include('../partials/sidebar')%>
        <div class="content-cookies">
            <h1>Cookies</h1>
            <p>Utilizamos cookies, píxeles y otras tecnologías (conjuntamente, <i>«cookies» </i>) para reconocer su navegador o dispositivo, saber más sobre sus intereses, proporcionarle servicios y funcionalidades esenciales y otros fines como, por ejemplo:</p>
            <ul> 
                <li>Reconocerle cuando se registra para usar nuestros servicios. De esta forma podemos ofrecerle recomendaciones de productos, mostrar contenido personalizado y brindarle otras funcionalidades y servicios personalizados. </li> 
                <li>Mantener un registro de las preferencias especificadas. Lo que nos permite actuar en función de las mismas, por ejemplo, si deseas, o no, ver publicidad personalizada. </li> 
                <li>Llevar un registro de los productos guardados en su cesta. </li> 
                <li>Llevar a cabo investigaciones y diagnósticos para mejorar el contenido, los productos y los servicios de The Book Store. </li> 
                <li>Prevenir actividades fraudulentas. </li> 
                <li>Mejorar la seguridad. </li> 
                <li>Ofrecer contenido, incluidos anuncios, adecuados a sus intereses en sitios de Amazon y de terceros (consulte el aviso sobre Publicidad Basada en los Intereses del Usuario para saber cómo utilizamos las cookies para mostrar anuncios basados en intereses). </li> 
                <li>Información. Podemos valorar y analizar los resultados de nuestros servicios, al saber, por ejemplo, qué páginas consideran más útiles los clientes. </li>
            </ul>
            <p>Las <i>cookies</i> de The Book Store ofrecen la posibilidad de aprovechar algunas de las funcionalidades esenciales de nuestro sitio web. Si, por ejemplo, bloquea o rechaza nuestras cookies, no podrá añadir artículos a la Cesta, acceder a la página de finalización del pedido, ni usar ninguno de los productos o servicios de The Book Store que requiera el inicio de sesión por su parte. </p>
            <p>Las <i>cookies</i> también pueden ser instaladas por terceros autorizados cuando usted interactúa con servicios de The Book Store. Dichos terceros incluyen motores de búsqueda, proveedores de servicios de medición y análisis de datos, redes sociales y empresas de publicidad. Los terceros utilizan <i>cookies</i> durante el proceso de suministro de contenido, incluidos anuncios ajustados a sus intereses, para valorar la eficacia de sus anuncios y prestar servicios en nombre de The Book Store. </p>
            <p>Para gestionar las <i>cookies</i> de su navegador, acceda a la configuración del mismo. En la función 'Ayuda’ de la mayoría de los navegadores se indica cómo impedir la aceptación de nuevas cookies por su navegador, cómo hacer que el navegador le avise sobre la recepción de una nueva <i>cookie</i>, cómo desactivar las <i>cookies</i> y cuándo caducarán las <i>cookies</i>. Si desactiva todas las <i>cookies</i> en su navegador, ni nosotros, ni terceros transferiremos <i>cookies</i> al mismo. Sin embargo, si lo hace, es probable que tenga que ajustar manualmente algunas de sus preferencias cada vez que visite un sitio y que algunas de las funcionalidades y servicios no estén operativos. </p>
            <p>Consulte nuestra Política de Privacidad para obtener más información sobre los tipos de datos que recabamos. </p>

        </div>
    </main>
    <script src="/js/sidebarScript.js"></script>
<%-include('../partials/footer')%>
</body>
</html>