<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>
<body>
<%-include('../partials/header')%>
    <main>
        <%-include('../partials/sidebar')%>
        <div class="content-privacy">
            <h1>Política de Privacidad</h1>
            <p>Sabemos que le interesa cómo se utiliza y comparte su información, y apreciamos su confianza en nosotros para gestionarla con cautela y sensatez. Este Aviso de privacidad indica cómo The Book Store 
                recopila y procesa información personal a través de este sitio web .</p>
            <h3>¿Qué tipo de información personal recopila The Book Store?</h3>
            <p>Recopilamos su información personal a fin de brindar y mejorar continuamente los Servicios de The Book Store. Se detalla a continuación el tipo de información personal que recopilamos:</p>
            <ul> 
                <li><b>Información personal que nos brinda:</b> recibimos y almacenamos cualquier información que nos brinde en relación con los Servicios de The Book Store. </li> 
                <li><b>Información automática: </b> recopilamos y almacenamos de forma automática cierto tipo de información sobre su uso de los Servicios de The Book Store, incluida la información sobre su interacción con los contenidos y los servicios disponibles a través de los Servicios de The Book Store. Como muchos sitios web, utilizamos cookies y otros identificadores únicos, y obtenemos cierto tipo de información cuando su navegador web o dispositivo acceden a los Servicios de The Book Store y a otro contenido ofrecido por The Book Store o en su nombre en otros sitios web.</li> 
                <li><b>Información de otras fuentes: </b> puede que recibamos información suya, como información actualizada de entrega y dirección, de otras fuentes como nuestros transportistas. Utilizamos esa información para corregir nuestros registros y entregarle su próximo pedido con mayor facilidad. Haga clic aquí para ver ejemplos adicionales de la información que recibimos. </li> 
            </ul>
            <h3>¿The Book Store comparte su información personal?</h3>
            <p>La información sobre nuestros clientes es una parte importante de nuestra empresa y no comercializamos la información personal de nuestros clientes a terceros. The Book Store comparte la información personal de nuestros clientes solo de la forma que se detalla a continuación.</p>
            <ul> 
                <li><b>Proveedores de servicios terceros:</b> contratamos a otras empresas e individuos para que realicen funciones en nuestro nombre. Entre los ejemplos se incluyen realizar pedidos de productos o servicios; entregar paquetes; enviar correo postal y electrónico (incluidos correos electrónicos promocionales en nombre de The Book Store); eliminar información repetitiva de las listas de clientes; analizar datos; prestar asistencia de marketing; proveer resultados de búsqueda y enlaces (incluidos los listados y enlaces de pago); procesar pagos; transmitir contenido; y prestar servicios de atención al cliente. Estos terceros proveedores de servicios tienen acceso a la información personal necesaria para desempeñar sus funciones, pero no pueden utilizarla con otros fines. Además, deben procesar la información personal conforme al acuerdo contractual que celebramos con ellos, y según lo permitido por las leyes aplicables sobre protección de datos.</li> 
                <li><b>Transacciones con terceros:</b> podemos ofrecer servicios o vender líneas de productos conjuntamente con empresas terceras, como códigos de descuento brindados por terceros. Podrá saber cuando se involucre un tercero en sus transacciones, y nosotros compartiremos la información del cliente relacionada con esas transacciones con el tercero en la medida necesaria para brindarle el servicio correspondiente.</li> 
                <li><b>Protección de The Book Store y otros: </b> divulgamos información sobre su cuenta y otra información personal cuando lo creemos apropiado para cumplir con la ley; para hacer cumplir o aplicar nuestras Condiciones de uso y otros acuerdos; o para proteger los derechos, la propiedad o la seguridad de The Book Store, nuestros usuarios u otros. Esto incluye intercambiar información con otras empresas y organizaciones con el fin de protegerlo contra el fraude y de reducir el riesgo crediticio.</li> 
                <li><b>Transferencias de empresas:</b> a medida que nuestra empresa continúa creciendo, puede que vendamos o adquiramos otras empresas o servicios. En tales transacciones, la información del cliente es generalmente uno de los activos comerciales transferidos, pero esta sigue estando sujeta a lo establecido en cualquier Aviso de privacidad preexistente (a no ser, desde luego, que el cliente consienta lo contrario). Asimismo, en el caso improbable de que se adquiera Amazon.com, Inc. o sustancialmente todos sus activos, la información de los clientes será sin dudas uno de los activos transferidos.</li> 
            </ul>
            <h3>Ejemplos de información recopilada</h3>
            <p>Información que nos brinda cuando utiliza los Servicios de The Book Store</p>
            <p>Nos brinda información cuando:</p>
            <ul> 
                <li>Crea una cuenta en The Book Store y sube información a su cuenta.</li> 
                <li>Realiza pedidos a través de los Servicios de The Book Store.</li> 
                <li>Busca productos en los Servicios de The Book Store.</li> 
                <li>Se comunica con nosotros por correo electrónico, chat en línea o de otra forma.</li> 
                <li>Compila Listas de deseos.</li> 
                <li>Toma ciertas decisiones en los Servicios de The Book Store, como recibir recomendaciones u ofertas. </li> 
                <li>Participa en funciones de la comunidad, como publicar reseñas.</li> 
            </ul>
        </div>
    </main>
    <script src="/js/sidebarScript.js"></script>
<%-include('../partials/footer')%>
</body>
</html>